<h1>Ask the Coach</h1>
<p>Type your question below:</p>

<form action="/question/answer" method="get">
  <input type="text" name="question" placeholder="Type your question here">
  <input type="submit" value="Ask!">
</form>
